.projects {
    height: 100vh;
}

.project-list {
    min-height: 100vh;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
}

.project {
    width: 100%;
    text-align: start;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 0;
    border-bottom: 2px solid var(--primary-color-transparency);
    cursor: pointer;
}

.project .title {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.project i {
    color: var(--primary-color-transparency);
    font-size: 1.5rem;
}

.project .text {
    font-size: 1.3rem;
}

.project:hover i{
    color: var(--primary-color);
    transition: .1s ease-in;
}

.project:hover {
    border-bottom-color: var(--primary-color);
    transition: .1s ease-in;
}

.project .icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

.project .icons i {
    font-size: 1.7rem;
}
