.skills {
    height: 100%;
}

.skill-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.skill {
    width: 220px;
    text-align: center;
    padding: 1rem;
    border: 2px solid var(--primary-color-transparency);
    color: var(--body-bg);
}

.skill:hover {
    border-color: var(--primary-color);
}

.skill p {
    font-size: 1.3rem;
}

.flashing-border {
  animation: flashingBorder 0.8s ease forwards;
}

@keyframes flashingBorder {
  from {
    border-color: var(--primary-color);
  }
  to {
    border-color: var(--primary-color-transparency);
  }
}
