.skills {
    height: 100%;
}

.skill-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.skill {
    width: 220px;
    text-align: center;
    padding: 1rem;
    border: 2px solid var(--primary-color-transparency);
    color: var(--body-bg);
}

.skill p {
    font-size: 1.3rem;
}

