
#canvas {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(var(--secondary-color) 20%,var(--body-bg) 50%, var(--secondary-color) 80%);
    z-index: -1;
}
