
:root {
    --body-bg: #f2f2f2;
    --primary-color: #028492;
    --primary-color-transparency : #02849271;
    --secondary-color: #333333;
    --complementary-color: 	#037885;
    --beige: #f7efe5;
    --white: #ffffff;
    --black: #000000;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial, sans-serif; 
}

body {
    background-color: var(--secondary-color);
    height: 100vh;
    overflow-y: auto; /
}

/* .App {
    background-image: linear-gradient(var(--secondary-color) 10%,var(--body-bg) 50%, var(--secondary-color) 90%);
} */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}




/* Define slide-in from left animation */
.slide-in-left {
  animation: slideInFromLeft 0.5s ease-in-out forwards;
}

/* Define slide-in from right animation */
.slide-in-right {
  animation: slideInFromRight 0.5s ease-in-out forwards;
}

/* Define slide-in from bottom animation */
.slide-in-bottom {
  animation: slideInFromBottom 0.5s ease-in-out forwards;
}

/* Define slide-in from top animation */
.slide-in-top {
  animation: slideInFromTop 0.5s ease-in-out forwards;
}

.fade-in {
    animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInImg {
    0% {opacity: 0;}
    100%{opacity: 1;}
}